<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Edit Task</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="mt-3 container text-center">
    <div class="col-md-12 bgcolor pb-2 border-1 rounded">
    <form method="POST">
        {% csrf_token %}
        {{ form }}<br><br>
        <input type="submit" value="Submit" class="btn btn-success">
    </form>
        </div>
    <hr>
    </div>

</body>
</html>